* {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

img {
    width:50%;
    height:auto;
    border-radius:20px;
    border:2px solid white;
}

body {
    background-color:rgb(245, 222, 179);
}

.recipe {
    background-color: white;
    margin: 5% 25% 5% 25%;
    padding: 5% 0% 5% 0%;
    border: 2px solid black;
    border-radius:40px;
}

.list {
    background-color: #E7CCA3;
    margin: 0% 15% 0% 15%;
    text-align: center;
    border-radius: 20px;
    border:1px solid black;
    padding-left:4%;
    padding-right:4%;
}

ul, ol {
    padding-left:0%;
}

ul {
    list-style-type: none;
}

#credit {
    margin-top: 10%;
}